# Official Quarto Publish Workflow from the Quarto Documentation
on:
  push:
    branches: main

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Quarto
        uses: quarto-dev/quarto-action@v2

      - name: Install Python and Dependencies
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Python Libraries
        run: |
          python -m pip install --upgrade pip
          pip install jupyter pandas numpy matplotlib seaborn scikit-learn

      - name: Publish to GitHub Pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          quarto publish gh-pages
